#blog-title > a {
    letter-spacing: 0;
}

#blog-title > a:hover,
#blog-title > a:active {
    letter-spacing: 4px;
}

#blog-title > a:after,
#blog-title > a:before {
    position: relative;
    bottom: 0;

    display: block;

    width: 0;
    margin: 0 auto;

    content: '';
    transition: all 280ms ease-in-out;

    border: 1px solid rgba(255, 255, 255, 0);

    backface-visibility: hidden;
}

#blog-title > a:hover:after,
#blog-title > a:hover:before {
    width: 300px;

    transition: width 350ms ease-in-out;

    border-color: #fff;

    backface-visibility: hidden;
}

#blog-title > a:hover:before {
    top: 0;
    bottom: auto;

    width: 300px;
}
